
.root {
    -fx-negative-color: #dd3300;
    -fx-positive-color: #53912a;
}

/* For table columns */
.column-align-left,
.column-align-left .label {
    -fx-alignment: CENTER_LEFT;
}
.column-align-center,
.column-align-center .label {
    -fx-alignment: CENTER;
}
.column-align-right,
.column-align-right .label {
    -fx-alignment: CENTER_RIGHT;
}

.headline {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size:1.3em;
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.9), 5, 0.4, 0, 0);
}

.bankholiday {
    -fx-text-fill: #FF0000;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background -fx-background derive(-fx-base, -20%) -fx-background;
}

.tooltip {
-fx-text-fill: #333333;
-fx-background-color:
    linear-gradient(#cec340, #a59c31),
    linear-gradient(#fefefc, #e6dd71),
    linear-gradient(#fef592, #e5d848);
-fx-background-insets: 0,1,2;
-fx-background-radius: 5 5 5 5;
-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}
